.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 25px;
    width: 320px;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content:space-around;
    align-items: center;
}

.icon{
    max-height: 80%;
    max-width: 100%;
    width: auto;
    height: auto;
}